<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aurigma.GraphicsMill.Core.x86" version="7.2.20" targetFramework="net45" />
  <package id="Aurigma.GraphicsMill.WinControls.x86" version="7.2.20" targetFramework="net45" />
  <package id="Partial.Key.Verification" version="1.0" targetFramework="net45" />
  <package id="PsWinControls" version="1.1.4210.30190" targetFramework="net45" />
</packages>